$triangleSize: 12px;
$dotSize: 18px;
$largeDot: $dotSize * 1.2;
$addNewSize: 24px;

.processStates {
  position: relative;
  margin-bottom: 20px;

  .stateItem {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    //margin-right: 10px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;

    .dot {
      width:$dotSize;
      height:$dotSize;
      border-radius: $dotSize / 2;
      z-index: 1;
      position: relative;
      top: (40px - $dotSize) / 2;
      background: $accentColor;
      //left: calc(50% - #{$dotSize});
      display: flex;
      justify-content: center;
      align-items: center;

      .fa {
        font-size: 9px;
        color: #fff;
        line-height: $dotSize;
      }
    }

    .scheduled_at, .completed_at {
      margin-top: 20px;
      width: fit-content;
      font-size: 11px;
      line-height: 11px;
      color: #fff;
      position: relative;
      padding:2px 2px;
      font-weight: 100;

      > i {
        margin-right: 2px;
      }

      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent $orange transparent;
        position: absolute;
        top:-5px;
        left: calc(50% - 5px);
      }

      &.scheduled_at {
        background: $orange;
      }

      &.completed_at {
        background: $green;

        &:after {
          border-color: transparent transparent $green transparent;;
        }
      }


    }

    .line {
      height: 3px;
      width: 100%;
      background: lighten($accentColor, 10%);
      position: absolute;
      left:0;
      z-index: 0;
      top: 38px;
      transition: background 250ms;
    }

    .stateState {
      font-size: 11px;
      padding: 2px 5px;
      background: $accentColor;
      background: linear-gradient(to top, $accentColor 0% ,lighten($accentColor, 5%) 100%);
      color: #fff;
      //margin-right:15px;
      position: relative;

      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: $accentColor transparent transparent transparent;
        position: absolute;
        bottom:-5px;
        left: calc(50% - 5px);
      }
    }

    &.addNew {
      .dot {

      }

      .stateState {
        &:after {
          border-color: $green transparent transparent transparent;
        }
      }

      &:hover {
        .dot {
          transform: scale(1.2);
        }
      }
    }
  }
}

.popover {
  .edit-btn {
    font-size: 20px;
    color: $orange;
    cursor: pointer;
    transition: color 250ms;

    &:hover {
      color: darken($orange, 15%);
    }
  }
}