.candidate-status {
  .fa {
    color: #dddddd;
    
    &.fa-star.active, &.fa-star-half-o.active {
      color: $orange;
    }
    &.fa-arrow-up.active {
      color: $blue;
    }
    &.fa-circle.active {
      color: $red;
    }
  }
}