$title_color: #d7d7d7;
$details_color: #cdcdcd;

li.menu-item-wrapper {
  line-height: 24px;

  .menu-item {
    display: inline-block;
    padding: 0;
    padding-left: 22px;
    min-height: 40px;
    font-size: 15px;
    clear: both;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: $title_color !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //margin-bottom: 5px;

    .text-wrapper {
      float: left;
      line-height: 1;

      .title {
        float: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        //text-transform: ca;
        //overflow-x: hidden;
        font-weight: 100;
      }

      .details {
        line-height: 16px;
        font-size: 12px;
        opacity: 0.4;
        display: block;
        clear: both;
      }
    }

    .has-children {
      float: right;
      margin-right: 30px;
      font-size: 12px;
    }

    .icon-thumbnail {
      display: inline-block;
      font-size: 18px;
      //line-height: 40px;
      text-align: center;
      vertical-align: middle;
      position: relative;
      left: 0;
      float: right;
      //margin-right: 14px;
      color: $title_color;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }

    &.activeParent {
      .icon-thumbnail {
        .fa {
          color: lighten($accentColor, 20%);
        }
      }
    }

    &:hover {
      .icon-thumbnail {
        color: #fff;
      }
    }

    &.menu-item--active {
      //background: lighten($themeColor, 15%);
      box-shadow: inset 5px 0 0 $accentColor;
      background: $bgColor;
      .title {
        color: $accentColor;
      }
      .details {
        color: $darkThemeColor;
      }

      .icon-thumbnail {


        .fa {
          color: $accentColor;
        }
      }
    }

    &.activeParent {
      box-shadow: inset 5px 0 0 $accentColor;

      ~ .submenuWrapper .menu-item-wrapper{
        box-shadow: inset 5px 0 0 $accentColor;
      }
    }
  }
  ul.sub-menu {
    //display: none;
    list-style: none;
    clear: both;
    //margin: 0 0 10px 0;
    background-color: darken($themeColor, 7%);
    //padding: 10px 0 10px 0;
    padding:0;

    .icon-thumbnail {
      //height: 30px;
      //width: 30px;
      //line-height: 30px;
      //margin-right: 19px;
      font-size: 14px;
      transition: background 250ms;
    }

    .text-wrapper {
      .title {
        font-size: 13px;
      }
    }
  }
}