.core-layout__sidemenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 280px;
  min-width: 280px;
  background-color: $themeColor;
  z-index: 108;
  margin-left: -280px;
  float: left;
  position: relative;
  transition: margin 0.25s ease;
  padding-top: 60px;

  @include media-breakpoint-up(lg) {
    margin-left: -230px;
  }

  .sidemenu {
    ul.menu-items {
      list-style-type: none;
      padding: 0;
    }
  }
}
