.form-control-label {
  margin-bottom: 0;
  text-transform: uppercase;
  color: $accentColor;
  font-family: "Oxygen", "sans-serif";
}

.form-control-feedback {
  color: red;
}

form {
  &.av-submitted.av-invalid {
    .invalid-feedback {
      display: block;
    }
  }
}

.form-control {
  // background-color: #f3f4f5 !important;
  // border: none !important;
  // padding: 20px !important;
}

input:disabled {
  background: #e4e4e4 !important;
}

/* The switch - the box around the slider */

$switchWidth: 30px;
$switchHeight: 18px;
.switch {
  position: relative;
  display: inline-block;
  width: $switchWidth;
  height: $switchHeight;
  margin-bottom: 0;
  margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $accentColor;
}

input:focus + .slider {
  box-shadow: 0 0 1px $accentColor;
}

input:checked + .slider:before {
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.react-datepicker__input-container {
  input {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
}

.dropZone {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  background: rgba(0,0,0,0.05);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  height: 200px;


  .fa {
    font-size: 30px;
    color: $accentColor;

    &.remove {
      position: absolute;
      right: -5px;
      top: -5px;
      width: 30px;
      height: 30px;
      font-size: 20px;
      /* line-height: 1; */
      border-radius: 20px;
      background: red;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
  }

  .preview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.companyLogo {
    width: 200px;

    .preview {
      background-size: contain;
    }
  }
}


.md-btn--raised-disabled {
  background: rgba(0, 0, 0, 0.12) !important;
}
