html,
body {
  height: auto !important;
}

//h1, h2, h3, h4, h5, h6 {
//  background: -webkit-linear-gradient(left, #0c535e 0%, #158fa2 100%);
//  -webkit-background-clip: text;
//  -webkit-text-fill-color: transparent;
//}

//body {
//  .pace {
//    opacity: 0;
//    transition: opacity 500ms;
//  }
//  &:after {
//    content: '';
//    position: absolute;
//    top: 0;
//    left: 0;
//    bottom: 0;
//    right:0;
//    z-index: -1;
//    transition: background 350ms;
//  }
//  &.pace-running {
//    position: relative;
//
//    &:after {
//      background: rgba(255,255,255,0.65);
//      z-index: 99998;
//    }
//
//    .pace-active {
//      z-index: 99999;
//      opacity: 1;
//    }
//  }
//}

a {
  text-decoration: dotted !important;
}

.card {
  border: none;
  margin-bottom: 20px;

  .card-header {
    background: $cardColor;
    background: linear-gradient(
      to right,
      $cardColor 0%,
      lighten($cardColor, 15%) 100%
    );
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;

    &.center-gradient {
      background: linear-gradient(
        to right,
        $cardColor 0%,
        lighten($cardColor, 15%) 50%,
        $cardColor 100%
      );
    }

    .card-title {
      margin-bottom: 0;
      font-size: 16px;
      //justify-content: space-between;
      padding: 0.75rem 1.25rem;

      svg {
        margin-right: 5px;
      }
    }

    .actionButtons {
      float: right;
      $actionBtnSize: 24px;
      padding: 0 1.25rem;
      .fa {
        font-size: $actionBtnSize / 4 * 3;
        cursor: pointer;

        &:hover {
          color: #fdfdfd;
        }
      }

      &.showOnHover {
        //opacity: 0;
      }
    }
  }
  .card-block {
    padding: 15px;
  }

  .card-body {
    &:hover {
      .showOnHover {
        opacity: 1;
      }
    }
  }
}

.card {
  border: none;
  margin-bottom: 20px;
  width: 100%;

  .card-block {
    flex: 1 1 auto;
    padding: 1.25rem;
  }

  .card-header {
    //background: #fff;

    .back {
      float: left;
      font-size: 28px;
      margin-right: 5px;
      color: #dddddd;
      &:hover {
        color: $accentColor;
      }
    }

    > .card-title {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      width: 100%;

      &.with-spinner {
        display: flex;
        justify-content: space-between;
      }

      > .fa:not(.fa-spin) {
        color: #cdcdcd;
        font-size: 20px;
        min-width: 30px;
      }

      .cardactions {
        color: #ddd;
        font-size: 16px;

        .fa, .fas {
          margin-left: 10px;

          &:hover {
            color: $accentColor;
          }
        }
      }
    }
  }
}

.grid-item {
  .cardactions {
    .fa-calendar {
      &.expanded {
        color: lighten($orange, 15%);
      }
    }
  }
  &.expanded {
    .cardactions {
      .fa-compress {
        color: lighten($orange, 15%);
      }
    }
  }
}

.fa {
  &.before-text {
    margin-bottom: 2px;
    $iconSize: 18px;
    font-size: $iconSize - 6px;
    margin-right: 5px;
    background: $accentColor;
    color: #fff;
    height: $iconSize;
    width: $iconSize;
    line-height: $iconSize;
    border-radius: $iconSize / 2;
    text-align: center;
  }
}
