.ReactTable {
  .rt-thead {
    //background: $themeColor !important;
    //background: linear-gradient(to right, $themeColor 0% ,lighten($themeColor, 15%) 100%) !important;
    background: transparent;
  }
  .pagination-bottom {
    .-pagination {
      .-btn {
        //background: linear-gradient(to top, $accentColor 0% ,lighten($accentColor, 15%) 100%) !important;
      }
    }
  }

  .tableDelete {
    cursor: pointer;
    color: $red;

    &:hover {
      color: darken($red, 10%);
    }
  }

  .difficultyValue {
    font-size: 16px;
    text-align: center;
    display: block;
  }
  
  .fa-thermometer-0 {
    opacity: .5;
  }
  
  .fa-thermometer-1 {
    color: #0d47a1;
  }
  
  .fa-thermometer-2 {
    color: #2bcd8a;
  }
  
  .fa-thermometer-3 {
    color: #ff8300;
  }
  
  .fa-thermometer-4 {
    color: #ff1700;
  }
}