$themeColor: #485863;
$darkThemeColor: darken($themeColor, 15%);
$accentColor: #17a2b8;
$cardColor: #0c535e;
$bgColor: #f5f5f5;

$textColor: #6f6f6f;
$lightGray: #cdcdcd;

$blue: #3498DB;
$purple: #9B59B6;
$green: #1ABB9C;
$darkGreen: darken($green, 15%);
$aero: #9CC2CB;
$red: #E74C3C;
$orange: #ffab0b;
$dark: #34495E;
$pink: #FF00B3;