$triangleSize: 12px;
$dotSize: 16px;
$addNewSize: 24px;
$firstColor: #3593cd;
$secondColor: #2700ff;
$thirdColor: #ff00f8;
$fourthColor: #ff8300;
$fifthColor: #4eab46;

.assignmentStates {
  position: relative;

  .stateItem {
    display: flex;
    position: relative;

    .dot {
      width:$dotSize;
      height:$dotSize;
      border-radius: $dotSize / 2;
      z-index: 1;
      position: relative;
      top: (40px - $dotSize) / 2;
      background: $darkGreen;
    }

    .line {
      height: 100%;
      width: 3px;
      background: lighten($darkGreen, 30%);
      position: absolute;
      left:21px;
      z-index: 0;
      top: 6px;
      transition: background 250ms;
    }

    .card {
      margin-left: $triangleSize + 5px;
    }

    .card-body {
      white-space: pre-line;
    }

    .card-header {
      background: $darkGreen;
      background: linear-gradient(to right, $darkGreen 0% ,$green 100%);
      &:after {
        content: '';
        position: absolute;
        left:-($triangleSize - 2);
        top:(40px - $triangleSize * 2) / 2;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $triangleSize $triangleSize $triangleSize 0;
        border-color: transparent $darkGreen transparent transparent;
      }
    }

    &#addNewState {
      cursor: pointer;
      .dot {
        width:$addNewSize;
        height:$addNewSize;
        border-radius: $addNewSize / 2;
        z-index: 1;
        position: relative;
        top: (40px - $addNewSize) / 2;
        left:-4px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $green;
      }
      .card {
        margin-left: $triangleSize + 1px;

        .card-header {
          background: linear-gradient(to right, $green 0% ,lighten($green, 5%) 100%);

          &:after {
            border-color: transparent $green transparent transparent;
          }
        }
      }
    }

    &:first-of-type {
          .line {
            background: linear-gradient(to top, transparent 0%, lighten($darkGreen, 30%) 50%);
          }
    }



  //  &:nth-of-type(1) {
  //    .dot, .stateIcon {
  //      background: $firstColor;
  //    }
  //    .line {
  //      background: linear-gradient(to top, $firstColor 0%, $firstColor 30%);
  //    }
  //    .card-header {
  //      background: $firstColor;
  //      &:after {
  //        border-color: transparent $firstColor transparent transparent;
  //      }
  //    }
  //  }
  //
  //  &:nth-of-type(2) {
  //    .dot, .stateIcon {
  //      background: $secondColor;
  //    }
  //    .line {
  //      background: linear-gradient(to top, $firstColor 0%, $secondColor 30%);
  //    }
  //    .card-header {
  //      background: $secondColor;
  //      &:after {
  //        border-color: transparent $secondColor transparent transparent;
  //      }
  //    }
  //  }
  //
  //  &:nth-of-type(3) {
  //    .dot, .stateIcon {
  //      background-color: $thirdColor;
  //    }
  //    .line {
  //      background: linear-gradient(to top, $secondColor 0%, $thirdColor 30%);
  //    }
  //    .card-header {
  //      background: $thirdColor;
  //      &:after {
  //        border-color: transparent $thirdColor transparent transparent;
  //      }
  //    }
  //  }
  //
  //  &:nth-of-type(4) {
  //    .dot, .stateIcon {
  //      background-color: $fourthColor;
  //    }
  //    .line {
  //      background: linear-gradient(to top, $thirdColor 0%, $fourthColor 30%);
  //    }
  //    .card-header {
  //      background: $fourthColor;
  //      &:after {
  //        border-color: transparent $fourthColor transparent transparent;
  //      }
  //    }
  //  }
  //
  //  &:nth-of-type(5) {
  //    .dot, .stateIcon {
  //      background-color: $fifthColor;
  //    }
  //    .line {
  //      background: linear-gradient(to top, $fourthColor 0%, $fifthColor 30%);
  //    }
  //    .card-header {
  //      background: $fifthColor;
  //      &:after {
  //        border-color: transparent $fifthColor transparent transparent;
  //      }
  //    }
  //  }
  }
}