$triangleSize: 12px;
$dotSize: 24px;
$largeDot: $dotSize * 1.2;
$addNewSize: 24px;
$stateColor: $green;

.horizontalAssignmentStates {
  position: relative;
  margin-bottom: 20px;

  .stateItem {
    display: flex;
    position: relative;
    flex-direction: column;
    //margin-right: 10px;
    cursor: pointer;

    .dot {
      width:$dotSize;
      height:$dotSize;
      border-radius: $dotSize / 2;
      z-index: 1;
      position: relative;
      //top: (40px - $dotSize) / 2;
      background: $stateColor;
      left: calc((50% + 5px) - #{$dotSize});
      display: flex;
      justify-content: center;
      align-items: center;

      .fa {
        font-size: 9px;
        color: #fff;
        line-height: $dotSize;
      }
    }

    .line {
      height: 3px;
      width: 100%;
      background: lighten($stateColor, 10%);
      position: absolute;
      left:0;
      z-index: 0;
      bottom: $dotSize / 2;
      transition: background 250ms;
    }

    .stateState {
      padding: 2px 5px;
      background: $stateColor;
      color: #fff;
      margin-right:15px;
      position: relative;
      margin-bottom:10px;

      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: $stateColor transparent transparent transparent;
        position: absolute;
        bottom:-5px;
        left: calc(50% - 5px);
      }
    }

    &.addNew {
      .dot {

      }

      .stateState {
        &:after {
          border-color: $green transparent transparent transparent;
        }
      }

      &:hover {
        .dot {
          transform: scale(1.2);
        }
      }
    }
  }
}

.popover {
  .edit-btn {
    font-size: 20px;
    color: $orange;
    cursor: pointer;
    transition: color 250ms;

    &:hover {
      color: darken($orange, 15%);
    }
  }
}