#tableWrapper {
  position: relative;
}

.profile-pic {
  max-height: 120px;
}

.form-inline {
  width:100%;

  .Select {
    width:100%;
  }

  button {
    margin:0;
  }
}

.ReactTable {
  width:100%;

  .rt-thead {
    background: $darkThemeColor;
    color: white;

    .rt-th.-sort-asc {
      box-shadow: inset 0 3px 0 0 $accentColor;
    }

    .rt-th.-sort-desc {
      box-shadow: inset 0 -3px 0 0 $orange;
    }

    &.-filters {
      background: #d8d8d8;
    }
  }

  .icons {
    
    > div {
      display: inline;
      color: $accentColor;

      &.disabled {
        color: #000;
        opacity:0.1;
      }
    }
  }

  .rt-td {
    .status-fa {
      width:100%;
      text-align: center;
    }
  }
}


/*SELECT*/
.Select-menu-outer {
  position: absolute;
  z-index: 998;
}
.Select {
  &.is-focused {
    z-index: 999;
    .Select-menu-outer {

    }
  }
}

#advancedSearch {
  .Select-menu-outer {
    display: none;
  }
}

/*STATSROW*/

#stats-row {
  background: darken($bgColor, 10%);

  margin-bottom: 20px;
  position: relative;

  .add-new {
    text-align: center;
    padding: 0px 15px;
    border-right: 5px solid #e7f2f5;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .filter-item {
    //max-width:130px;
    text-align: center;
    min-width:100px;
    padding: 0px 10px;
    border-right: 5px solid #e7f2f5;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .filter-icon{
      position: absolute;
      top:5px;
      left:5px;
      color: #a7a7a7;
    }

    &.active {
      background: $orange;
      color: #fff;
      &:after {
        content: '';
        position: absolute;
        bottom:-20px;
        left:35%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 20px 0 20px;
        border-color: $orange transparent transparent transparent;
      }
      &:before {
        color: #fff;
      }
    }

    &.hasNoRating {
      h4 {
        color: $red;
      }

      &.active {
        h4 {
          color: #fff;
        }
        background: $red;
        color: #fff;
        &:after {
          border-color: $red transparent transparent transparent;
        }
      }
    }

    &.isMPC {
      h4 {
        color: $orange;
      }

      &.active {
        h4 {
          color: #fff;
        }
        background: $orange;
        color: #fff;
        &:after {
          border-color: $orange transparent transparent transparent;
        }
      }
    }

    &.isUpcoming {
      h4 {
        color: $green;
      }

      &.active {
        h4 {
          color: #fff;
        }
        background: $green;
        color: #fff;
        &:after {
          border-color: $green transparent transparent transparent;
        }
      }
    }

    h4 { margin-bottom: -5px}

    &:not(.add-new):not(.active):hover {
      &:after {
        content: '';
        position: absolute;
        bottom:-20px;
        left:35%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 20px 0 20px;
        border-color: darken($bgColor, 10%) transparent transparent transparent;
      }
    }
  }
}

#extras {
  margin-top:5px;
  label {
    position: relative;
    margin-right: 5px;
    margin-bottom: 0;

    input {
      position: absolute;
      opacity: 0;

      ~ i {
        color: #ffffff;
        transition: color 250ms;
      }

      &:checked ~ i {
        color: $green !important;
      }
    }
  }
}

.countyShortcuts {
  .countySpan {
    background: $aero;
    color: #fff;
    padding:2px 5px;
    margin-right: 3px;
    cursor: pointer;

    &:hover {
      background: darken($aero, 15%);
    }

    &.active {
      background: $green;
    }
  }
}