@import '../components/Analytics/Analytics.scss';

.subComponent {
  .subProfilePic {
    position: relative;
    max-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid lighten($accentColor, 10%);
    cursor: pointer;
    overflow: hidden;
    transition: transform 250ms;
    background: #fff;

    &:after {
      content: '\f0c1';
      position: absolute;
      left: calc(50% - 27px / 2);
      top: calc(50% - 45px / 2);
      font-family: 'FontAwesome';
      font-size: 30px;
      color: $accentColor;
      z-index: 1;
    }

    .profile-pic {
      opacity: 1;
      position: relative;
      z-index: 2;
    }

    &:hover {
      transform: scale(1.05);

      .profile-pic {
        opacity: 0;
      }
    }
  }
}

.boardWrapper {
  overflow-x: auto;
  max-width: calc(100vw - 50px);
}
.assignmentBoard {
  background-color: transparent !important;
  height: auto !important;

  > section {
    width: 110px;
    overflow: hidden;

    &.hasCards {
      width: 220px;
    }
  }

  .JQJor {
    min-width: 100px;

    .jvjQNk {
      background-color: #ccc;
      margin: 5px 0px;
      padding: 10px;
      min-width: 100%;
      height: 45px;
      max-height: 95%;
      overflow-y: auto;
    }
  }

  article {
    padding: 0 !important;
    //width:250px;

    .md-card {
      //border-top: 2px solid $md-red-500;

      .status {
        font-size: 16px !important;
      }

      &.scheduled_at {
        border-top: 2px solid $md-orange-500;

        .status {
          color: $md-orange-500;
          font-size: 16px !important;
        }
      }

      &.completed_at {
        border-top: 2px solid $md-green-500;

        .status {
          color: $md-green-500;
          font-size: 16px !important;
        }
      }

      .md-card-title {
        padding: 5px;

        .md-card-title--title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 13px;
          margin-bottom: -5px;

          &:first-of-type {
          }

          &.md-text--secondary {
            font-size: 10px;
            text-transform: uppercase;
            margin-bottom: 0;
          }
        }

        .md-avatar {
          height: 30px;
          width: 30px;
          margin-right: 5px;
        }
      }
      .md-dialog-footer--card {
        padding: 0 5px 5px;

        small {
          margin-right: 5px;
        }
      }

      .md-picker-container {
        .md-text-field-container {
          visibility: hidden;
          height: 0;

          .md-text-field {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.process-state-button {
}

.nav-item {
  .nav-link {

    &.noAd {
      box-shadow: inset 0 2px 0 rgba(255,0,0,0.5);
    }
  }
}
