.boardwrapper {
  //display: flex;
  //flex-direction: row;
  max-width: calc(100vw - 50px);
  overflow: auto;
  scroll-snap-type: mandatory;

  /* older spec implementation */
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-x: repeat(100%);

  .statelist--container {
    scroll-snap-align: start;
    width: 110px;
    min-width: 110px;
    // overflow: hidden;
    //background: url('/imgs/list_bg.jpg');
    background: #fcfcfc;
    // background: lighten($themeColor, 60%);
    margin: 5px;
    border: 1px solid #dcdcdc;
    padding-bottom: 10px;
    min-height: 125px;
    border-radius: 2px;
    //border: #485862 1px solid;

    &.hasItems {
      width: 220px;
      min-width: 220px;
    }

    // &.aborted {
    //   background: url('/imgs/aborted_list_bg.jpg');
    // }

    // &.signed {
    //   background: url('/imgs/signed_list_bg.jpg');
    // }

    // &.incoming {
    //   background: url('/imgs/incoming_list_bg.jpg');
    // }

    #count-badge {
      color: #333333;
      background: #ffffff;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    .statelist--title {
      text-align: center;
      background: $themeColor;
      color: #fff;
      padding: 5px 0;
      margin-bottom: 15px;
      position: relative;

      .check-all {
        position: absolute;
        left: 5px;
        margin-left: 0;
      }
    }

    .dummyCard {
      width: 100%;
      height: 40px;
      background: #ffffff;
      display: flex;
      padding: 5px;
      justify-content: space-between;
      align-items: center;

      .dummyPic {
        width: 30px;
        min-width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: #b9b9b9;
        margin-right: 5px;
      }

      .dummyRight {
        display: flex;
        flex-direction: column;
        width: 100%;

        .dummyName {
          height: 12px;
          width: 80%;
          background-color: #b9b9b9;
          margin-bottom: 2px;
        }

        .dummyIncoming {
          height: 10px;
          width: 85%;
          background-color: #b9b9b9;
        }
      }
    }
  }
}

.candidatecard {
  margin: 5px;
  position: relative;
  border-top: 2px solid $themeColor;

  .show-candidate {
    background: $gray-500;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
  }

  .md-progress--linear {
    background: #e4e4e4;
    position: absolute;
    top: -2px;
    margin: 0;
  }
  .status,
  .comments,
  .md-icon {
    font-size: 14px !important;
  }

  .comments {
    // position: absolute;
    // right: 5px;
    opacity: 0.25;
  }

  &.hasComment {
    .comments {
      opacity: 1;
      color: $accentColor;
    }
  }

  &.scheduled_at {
    border-top: 2px solid $md-orange-500;

    .status {
      color: $md-orange-500;
      // font-size: 16px !important;
    }
  }

  &.completed_at {
    border-top: 2px solid $md-green-500;

    .status {
      color: $md-green-500;
      // font-size: 16px !important;
    }
  }

  .md-card-title {
    padding: 5px;

    .md-card-title--title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
      margin-bottom: -5px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &:first-of-type {
      }

      &.md-text--secondary {
        font-size: 10px;
        text-transform: uppercase;
        margin-bottom: 0;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .md-avatar {
      height: 30px;
      width: 30px;
      margin-right: 5px;
      position: relative;

      .checked {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: rgba(0, 0, 0, 0.65);
        transform: scale(0);
        transition: transform 150ms ease-in-out;
      }
    }
  }
  .md-dialog-footer--card {
    padding: 0 5px;
    height: 20px;
    // background: $accentColor;
    border-top: 1px solid #ededed;
    display: flex;
    align-items: center;

    small {
      margin-right: 5px;
    }
  }

  .md-picker-container {
    .md-text-field-container {
      visibility: hidden;
      height: 0;

      .md-text-field {
        margin-top: 0;
      }
    }
  }

  &.checked {
    .md-avatar {
      .checked {
        transform: scale(1);
      }
    }
  }
}

.process-list-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 8px;
  width: 100%;

  &:hover {
    background: #ececec;
  }

  .visible-wrapper {
    display: flex;
  }

  .md-avatar {
    width: 38px;
    height: 38px;
    min-width: 38px;
  }

  .process-list-item--content {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    width: 100%;

    .text {
      line-height: 1;
      padding-left: 16px;
      padding-right: 16px;

      .title {
      }

      .dates {
        color: #555555;

        .md-icon {
          font-size: 16px;

          &.scheduled_at {
            color: $md-orange-500 !important;
          }

          &.completed_at {
            color: $md-green-500;
          }
        }
      }
    }
  }
}
