@import url('https://fonts.googleapis.com/css?family=Oxygen');

$link-color: #666666;
$headings-font-family: 'Oxygen', 'sans-serif';

a {
  text-decoration: dashed;
}

@import "./node_modules/bootstrap/scss/bootstrap";

