#profilePageHeader {
  display: flex;
  align-items: center;
  margin-top:20px;
  margin-bottom:0;

  #nameWrapper {
    margin-left: 15px;
  }
}


.profile-side {
  //float: left;
  //@media(min-width: 992px) {
  //  width: 360px;
  //  max-width: 360px;
  //}

  .fa {
    &.disabled {
      opacity:0.2;
    }
  }

  #profilePicture {
    //padding: 10px 30px 0;
    max-width: 300px;
    width:100%;
    border: 5px solid white;

    &.notActive {
      border: 5px solid red;
    }

    @media(min-width: 1200px) {
      //top:20px;
    }
  }

  .contact {
    > div {
      margin: 6px 0;

      .fa {
        color: #fff;
        background: #000;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        
        &.phone {
          background: green;
        }
        &.mail {
          background: #ff0000;
        }
        &.linkedin {
          background: #007bb6;
        }
      }
    }
  }

  .profile-details {
    > div {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.candidate-content {
  overflow: hidden;
}

.profileSection {
  border-bottom: 1px solid #eee;
  margin-bottom:20px;
  padding-bottom: 20px;

  > div {
    width:100%;

    > h4 {
      text-transform: uppercase;
      color: rgba(0,0,0,0.3);
    }

    .subheadline {
      width:100%;
      margin-top:20px;
    }
  }

  .flexRow {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  ol > div {
    padding-left: 0;
  }
}

.mItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: inherit;
}

.employmentItem, .educationItem, .assignmentItem {
  margin-bottom: 10px;
  box-shadow: inset 5px 0 #e1e1e1;
  padding-top: 10px;
  padding-bottom:10px;

  &:hover {
    background: #f7f7f7;
  }

  &.current {
    box-shadow: inset 5px 0 #77fb1b;
  }

  h6 {
    font-weight: bolder;
  }

  .datetime {

  }

  .description {
    margin-top: 5px;
    border-top:1px solid #eaeaea;
    color: #666666;
  }

  &.assignmentItem {
    padding: 0;

    h6 {
      padding-top: 10px;
      padding-bottom: 10px;

      .collapse-expander {
        margin-top: 10px;
      }
    }
  }
}

.loadPlaceholder {
  background: #eee;
  color: #eee;
}


$picSize: 60px;
$arrowSize: 15px;
.recruiterNote {
  position: relative;
  margin-bottom:10px;

  .profilePic {
    max-width:$picSize;
    position: absolute;
  }

  .message {
    background: #f1f1f1;
    width:100%;
    padding: 10px;
    position: relative;
    margin-left:$picSize + $arrowSize + $picSize / 5;
    
    
    &:after {
      content:'';
      position: absolute;
      top:($picSize - $arrowSize*2)/2;
      left:-$arrowSize;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: $arrowSize $arrowSize $arrowSize 0;
      border-color: transparent #f1f1f1 transparent transparent;
    }

    .recruiterName {
      color: $accentColor;
      font-weight: 500;
    }

    .datetime {
      position: absolute;
      top:10px;
      right:10px;
    }
  }
}

.pdf {
  padding-right:10px;
  .fa {
    color: $themeColor;
    font-size: 22px;
    margin-left:10px;

    &:hover {
      color: lighten($themeColor, 10%);
    }
  }
}

#topMenu {
  padding-top: 0;
  padding-bottom: 0;
}
.topMenuItem {
  margin-right:10px;
  padding:10px 15px;
  display: inline-block;

  &.active {
    box-shadow: inset 0 -3px 0 $orange;
  }

  h6 {
    margin-bottom: 0;
    cursor: pointer;
  }
}

.collapse-expander {
  position: absolute;
  right:5px;
  top:0;
  color: #cdcdcd;
}
