//$colWidth: 198.41px;
$colWidth: 148px;
$dotSpacing: 16px;
$dotWidth: ($colWidth - $dotSpacing * 3 - 30) / 5;
$dotColor: $orange;

.dotProgressWrapper {

  .title {
    //text-align: end;
    height:28px;
    display: flex;
    align-items: center;

    > h6 {
      //white-space: nowrap;
      //overflow: hidden;
      //text-overflow: ellipsis;
      font-size: 12px;
    }
  }

  .dotProgress {
    display: flex;
    align-items: center;
    justify-content: center;

    .dot {
      width:$dotWidth;
      height: $dotWidth;
      border-radius: 50%;
      background: #cdcdcd;

      &.filled {
        background: $dotColor;
      }

      &:nth-of-type(2) {
        margin: 0 $dotSpacing / 2;
      }
      &:nth-of-type(4) {
        margin: 0 $dotSpacing / 2;
      }
    }
  }
}