$buttonColor: $green;
$darkColor: darken($buttonColor, 15%);
$buttonWidth: 50px;
$itemHeight: 50px;

.quick-nav {
  position: fixed;
  z-index: 1049;
  top: 130px;
  right: -10px;
  //margin-top: -230px;
  pointer-events: none;
  transition: right 250ms;

  &:hover {
    right: 5px;
  }

  .quick-nav-trigger {
    position: absolute;
    z-index: 10104;
    top: 0;
    right: 0;
    height: $buttonWidth;
    width: $buttonWidth;
    border-radius: 50% !important;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    pointer-events: auto;

    span {
      transition: background-color 0.2s;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: #fff;

      &:before,
      &:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: #fff;
        backface-visibility: hidden;
        transition: transform 0.2s;
      }

      &:before {
        transform: translateY(-6px);
      }

      &:after {
        transform: translateY(6px);
      }
    }
  }

  ul {
    position: relative;
    z-index: 10103;
    padding: $itemHeight 0 0;
    visibility: hidden;
    transition: visibility 0.3s;
    list-style: none;
    text-align: right;

    > li div {
      position: relative;
      display: block;
      height: $itemHeight;
      //line-height: 50px;
      padding: 0 calc(1em + 50px) 0 1em;
      font-size: 0.9rem;
      transition: color 0.2s;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-decoration: none;

      &:before {
        content: '';
        position: absolute;
        height: 16px;
        width: 3px;
        top: 50%;
        right: $buttonWidth;
        transform: translateX(3px) translateY(-50%) scaleY(0);
        background-color: $darkColor;
      }

      i {
        content: '';
        position: absolute;
        height: 16px;
        width: 16px;
        font-size: 18px;
        right: $buttonWidth / 2 - 8px;
        top: 16px;
        color: #fff;
      }
    }

    > li span {
      background: $buttonColor;
      padding: 5px 0;
      color: #fff;
      font-weight: 400;
      display: block;
      opacity: 0;
      transform: translateX(-25px);
      position: relative;

      &:before,
      &:after {
        content: '';
        height: 100%;
        width: 29px;
        background: $buttonColor;
        border-radius: 50%;
        position: absolute;
        top: 0;
        z-index: -1;
      }

      &:before {
        left: -(29px/2);
      }
      &:after {
        right: -(29px/2);
      }
    }
  }

  .quick-nav-bg {
    position: absolute;
    z-index: 10102;
    top: 0;
    right: 0;
    width: $buttonWidth;
    height: $buttonWidth;
    border-radius: 30px !important;
    background: $buttonColor;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    transition: height 0.2s, box-shadow 0.2s;
  }

  &.nav-is-visible {
    right: 5px;
    pointer-events: auto;

    .quick-nav-trigger {
      pointer-events: auto;

      span {
        background-color: transparent;

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }
      }
    }

    ul {
      visibility: visible;

      li {
        &:hover {
          div:before {
            transform: translateX(3px) translateY(-50%) scaleY(2);
            transition: transform 0.15s;
          }
          span {
            opacity: 1;
            transform: translateX(-5px);
            animation: slideIn 0.15s backwards;
            transition: transform 0.2s;
          }
        }
      }
    }

    .quick-nav-bg {
      height: 100%;
      box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
    }
  }
}

@function spring-wobbly($t) {
  @return -0.5 * (2.71828 * (-6 * t)) * (-2 * (2.71828 * (6 * t)) + sin(12 * t) + 2 * cos(12 * t));
}

@function lerp($a, $b, $p) {
  @return $a + $p * ($b - $a);
}
