.recommended-candidate {
  border-bottom: 1px solid $gray-300;

  &:last-of-type {
    border: none;
  }

  small {
    color: $gray-600;
  }

  .comment {
    background: $gray-300;
    color: $gray-700;
    padding: 5px;
    border-radius: 5px;
  }
}

.folder-tree {
  .folder {
    font-size: 20px;
    width: 24px;
  }

  .new-folder {
    color: $gray-500;

    &:hover {
      color: $gray-700;
    }
  }

  .folder-description {
    padding-left: 18px;
    position: relative;
    top: -5px;
    color: $gray-600;
  }

  .folder-candidates {
    border-left: 1px solid $gray-500;
    margin-left: 10px;

    ul {
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;


      li.folder-user {
        position: relative;
        padding-left: 16px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: calc(50% + 1px);
          width: 12px;
          height: 1px;
          background: $gray-500;
        }
      }
    }
  }
}