.stat-container {
  > div {
    padding: 5px 10px;
    background: $gray-500;
    color: #fff;

    &.ActiveUsers {
      transition: background 250ms;

      &.is-increasing {
        background: #8fcd00;
      }

      &.is-decreasing {
        background: #cd2500;
      }
    }
  }
}

