#page_wrapper {
  position: relative;
  left: 0;
  transition: left .25s ease;
  display: flex;

  .core-layout__viewport {
    flex: 1 0 0;
    position: relative;
    left: 0;
    min-height: 100%;
    transition: left .25s ease;
    background: $bgColor;
    padding-top: 60px;

    #core-layout__viewport__content {
      @include media-breakpoint-up(md) {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}

.contentContainer {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;

  @include media-breakpoint-up(md) {
    padding-left: 50px;
    padding-right: 50px;
  }
}