@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:500,700');
$templateColor: #3593cd;

.wapcardTemplateWrapper {
  width: 210mm;
  height: 297mm;
  background: #fff;
  margin-bottom: 10mm;
  overflow: hidden;
  // position: fixed;
  // top: -2000px;
  //right:0;
  transform-origin: left;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Encode Sans Condensed', sans-serif;
  }

  &.creatingCanvas {
    position: relative;
    left: 0;
    margin-top: 200vh;
  }

  .leftCol {
    height: 100%;
    //background: linear-gradient(to bottom, #74bfdc 0%, #49d2b7 100%) !important;
    //background: $templateColor;
    background: #2b303b;
    color: #fff;

    &.side {
      background: #2b303b;
      position: relative;

      .wapLogo {
        position: absolute;
        bottom: 50px;
        left: 110px;
        max-width: 50px;

        &.page2 {
          left: 18px;
          max-width: 30px;
        }
      }
    }

    .progress-bar {
      background-color: $pink !important;
    }

    .wpSection {
      //margin-top: 50px;

      .sectionHeader {
        color: #fff;
        text-transform: uppercase;
        text-align: left;
        position: relative;
        margin-bottom: 16px;

        &:after {
          content: '';
          width: 110%;
          height: 1px;
          background: #ffffff;
          position: absolute;
          bottom: 0;
          left: -5%;
        }
      }
    }
  }

  .rightCol {
    color: #333333;
    padding-right: 1cm;

    .profileInfo {
      h2,
      h3 {
        text-transform: uppercase;
      }

      .contactInfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        //font-family: $headings-font-family;

        .fa {
          background: $templateColor;
          color: #fff;
          width: 24px;
          height: 24px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 2px 6px 2px 0;
          //border-radius: 12px;
        }
      }
    }

    .wpSection {
      //margin-top: 50px;

      .sectionHeader {
        color: #333333;
        text-transform: uppercase;
        text-align: left;
        position: relative;
        margin-bottom: 16px;

        &:after {
          content: '';
          width: 100%;
          height: 1px;
          background: #333333;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }

      .description {
        font-size: 11px;
        line-height: 1.1;
      }

      .skillCircle {
        display: flex;
        justify-content: center;
        align-items: center;

        .percentValue {
          position: absolute;
          margin-top: -15px;
        }

        .skillName {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .timeline-item {
        position: relative;
        padding-left: 20px;

        &:before {
          content: '';
          background: lighten($templateColor, 15%);
          width: 2px;
          height: 100%;
          position: absolute;
          left: 20px;
        }

        .startEndDate {
          background: $templateColor;
          color: #fff;
          display: inline-block;
          padding: 2px 5px;
          position: relative;
          left: -15px;
          font-size: 12px;

          > span {
            position: relative;
            z-index: 2;
          }

          &:before,
          &:after {
            content: '';
            background: $templateColor;
            width: 22px;
            height: 22px;
            position: absolute;
            left: -10px;
            top: 0;
            border-radius: 50%;
            z-index: 1;
          }

          &:after {
            left: auto;
            right: -10px;
          }
        }
      }
    }
  }
}
