#header {
  height: 60px;
  background: $darkThemeColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 109;

  #menubar {
    visibility: visible;
    font-size: 22px;

    @include media-breakpoint-up(lg) {
      visibility: hidden;
    }
  }

  #profile_img {
    border-radius: 50%;
    max-height: 36px;
    margin-right: 5px;
  }

  #dropdownMenuLink {
    background: transparent;
    border: none;
    color: #fff;
  }

  .left_content {
    display: flex;
    align-items: center;

    > a {
      font-size: 28px;
      height: 50px;
      color: #cdcdcd;
      margin-right: 20px;
      display: flex;
      align-items: center;

      &#go-back {
        font-size: 20px;
      }

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
