#subHeader {
  //overflow: hidden;
  width: 100%;
  background: darken($accentColor, 10%);
  padding: 0 2rem;
  color: #fff;
  height: auto;

  @include media-breakpoint-up(md) {
    padding-left: 50px;
    padding-right: 50px;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;

    .breadcrumb {
      background-color: transparent;
      margin-bottom: 0;
      padding-left: 0;
      padding: 1rem;

      .breadcrumb-item {
        font-size: 14px;
        font-weight: 300;

        a {
          color: #fff;
        }

        &.active {
          color: #fff;
          font-weight: 500;
        }

        &:before {
          color: #fff;
        }
      }
    }
  }

  .tabs {
    .nav-tabs {
      border: none;
      .nav-item {
        .nav-link {
          border: none;
          color: #f5f5f5;

          &:hover {
            color: #fff;
          }

          &.active {
            background-color: #f5f5f5;
            color: $themeColor;
          }
        }
      }
    }
  }
}

.actionButtons {
  .md-icon {
    font-size: 16px;
  }
}
