.fg-themeColor {
  color: $themeColor;
}
.fg-accentColor {
  color: $accentColor;
}
.fg-aero {
  color: $aero;
}

.fg-red {
  color: $red;
}

.fg-orange {
  color: $orange;
}

.fg-green {
  color: $green;
}

.fg-blue {
  color: $blue;
}

.fg-purple {
  color: $purple;
}

html, body {
  min-height: 100vh;
  height:100%;
  font-size: .9rem;

  #root {
    min-height: 100vh;
  }
}

body.overflow-x-hidden {
  overflow-x: hidden;
}

body.menu-expanded #page_wrapper {
  left:280px !important;
  @include media-breakpoint-up(lg) {
    left: 230px !important;
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
