@import "~react-table/react-table.css";
@import "~react-select/dist/react-select.css";
@import "~react-datepicker/dist/react-datepicker.css";
@import 'react-md/src/scss/react-md';
@import '~react-draft-wysiwyg/dist/react-draft-wysiwyg.css';
@import '~react-datetime/css/react-datetime.css';
@import '~cropperjs/dist/cropper.css';

$md-primary-color: #17a2b8;
$md-secondary-color: #485863;
@include react-md-everything;

@include react-md-theme-everything(
                $md-primary-color,
                $md-secondary-color,
                true, // specifying dark-theme
                'dark-theme' // class name to wrap dark-theme styles in
);

@import "styles/variables";
@import "styles/layout";
@import "styles/colors";
@import "styles/form";
@import "styles/loaders";
@import "styles/table";
@import "styles/draft-js";

@import "../custom-bootstrap/index";
@import "./App.scss";
@import "./layouts/CoreLayout/CoreLayout";
@import "./layouts/Header/Header";
@import "./layouts/Header/SubHeader";
@import "./layouts/Sidemenu/Sidemenu";
@import "./layouts/Sidemenu/Menuitem/Menuitem";

//Routes
@import "./routes/Candidates/Candidates";
@import "./routes/Candidates/MyCandidates/MyCandidates";
@import "./routes/Candidates/CandidateProfile/CandidateProfile.scss";
@import "./routes/Candidates/CandidateProfile/components/CandidateActions/CandidateActions";
@import "./routes/Assignments/Assignment/Assignment";
@import "./routes/Assignments/components/AssignmentBoard/AssignmentBoard";

//Components
@import "./components/AssigmentStates/AssignmentStates.scss";
@import "./components/AssigmentStates/HorizontalAssignmentStates";
@import "./components/DotProgress/DotProgress";
@import "./components/QuickNav/QuickNav";
@import "components/RecruitmentProcessStates/RecruitmentProcessStates";


@import "./routes/Candidates/CandidateProfile/components/PdfTemplate/PdfTemplate.scss";


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
